.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  border: 1px solid red;
  background-color: #f3d74e;
  color: white;
}

.oneperson {
  width: 90%;
  height: 30px;
  border: 1px solid black;
  padding: 30px;
  margin: 4px;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.oneperson:hover {
  border: 2px solid blue;
  margin: 1px;
}

.content {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 3px;
  background: transparent;
  border: 1px solid red;
  cursor: pointer;
}

.modal {
  display: block;
  width: 50%;
  height: 70%;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  z-index: 2;
  border: 1px SOLID RED;
}
.innermodal {
  justify-content: space-between;
  display: flex;
  padding: 10px;
}

.modal button,
button {
  height: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 800;
}

.hidden {
  display: none;
}

.overlay1 {
  position: fixed; /*Sit on top of the page content*/
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.9); /*Black background with opacity*/
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}

.inputData {
  display: flex;
  /* position: absolute; */
}
